@{
    ViewData["Title"] = "Home Page";
    var claims = User.Claims.ToList();
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <h3>@(User.FindFirst("ForFun")).Value</h3>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="@ViewBag.cat.webpurl" style="max-width: 400px;" />

    <pre>
        @ViewBag.cat.Id
        @ViewBag.cat.url
        @ViewBag.cat.webpurl
        @ViewBag.cat.x
        @ViewBag.cat.y
    </pre>
</div>

<ul>
@foreach (var claim in claims)
        {
            <li>@claim</li>
        }
</ul>