@model IEnumerable<MVCExampleProject.Models.TodoItem>

@{
    ViewData["Title"] = "Index";
    var count = 4;
}


<h1>Index</h1> 

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Complete?
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @if (item.CompletedDate.Date >= DateTime.Today)
                {
                    <span class="completed">Complete</span>
                }
                else
                {
                    <a asp-action="Mark" asp-route-id="@item.Id">Mark Complete</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDate)
            </td>
            <td>
                @foreach (var comment in item.Comments)
                {
                    @Html.DisplayFor(modelItem => comment.Message)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
